body {
    background-color: rgb(248, 248, 248);
    font-family: sans-serif;
    font-size: large;
    background-image: url(imagens/fundo-destaque.jpg) ;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    border: solid black;
    background-color: black;
    color: white;
    border-radius: 20px;
    border-width: 10px;
    width: 500px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: solid black;
    background-color: black;
    color: white;
    border-radius: 14px;
    border-width: 5px;
    width: 250px;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: solid black;
    background-color: black;
    color: white;
    border-radius: 14px;
    border-width: 4px;
    width: 250px;
}

hr {
    width: 100%;
    height: 2px;
    border: 0px;
}

.destaque {
    background-color: rgb(186, 184, 184);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 30px;

}

a {
    color: blue;
}

#grande {
    background-color: gray;
    margin: 20px;
    border: black solid;
    border-radius: 20px;
}

#lista {
    background-color: grey;
    margin: 20px;
    padding: 20px;
    border-radius: 20px
}

#util {
    text-align: center;
    border: black solid;
    box-sizing: border-box;
    margin: auto;
    width: 50%;
}